* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
/*Registros totales*/
.container__table{
	width: 90%;
	background-color: #381b1ba6;
	margin: 50px auto;
	box-shadow: 0 0 20px #333;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-auto-rows: 50px;

}

.table__title{
	grid-column-start: 1 ;
	grid-column-end: 7 ;
	background:rgba(0, 0, 255, 0.45); 
	color: rgb(206, 203, 203);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.9em;
}
.table__header, .table__item{
	display: flex;
	color: rgb(206, 203, 203);
	justify-content: center;
	align-items: center;
}
.table__header{
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(206, 203, 203);
}
.table__item{
	padding: 10px;
	font-size: 1.2em;
}

/*Aqui termina el estilo de registro total*/

/*CSS del navbar*/

.containernav{
	width: 100%;
	height: 100 vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.navbar{
	width: 80%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-family: Roboto, "sans-serif";
	font-size: 1.2rem;
}
.navbar ul li::before{
	content: "";
	height: 3px;
	width: 100%;   
	position: absolute; 
}
.navbar  ul li:hover::before{
	width: 100%;
}

.logo{
	width:130px;
}
/*Termina CSS del navbar*/

/*CSS de texo de pagina de inicio*/

.img2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.articulos{
	width: 80%;
	border-right: 3px solid black;
}
.secciones{
	color: white;
	display: flex;
	align-items: center;
	padding: 40px;
}
.body2{
	background-image:url(../css/fondo1.jpg);
	width: 100%;
	background-size: cover;
}
.body3{
	background-image:url(../css/fondo3.jpg);
	width: 100%;
	background-size: cover;
}
/*Fin del CSS de ese texto*/

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}



.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 4px;
	background-color:transparent;
	color: rgb(255, 255, 255);
}
.blanco{
 color: white;
 text-align: center;
}
body{
	background-image:url(../css/fondo2.jpg);
	width: 100%;
	background-size: cover;
}
.mensaje{
	width: 100%;
	max-width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	padding: 6px;
	color: red;

}
h6 {
	text-align: center;
	padding: 12px;
    color: rgb(206, 203, 203);
    line-height: 20px;
}
.gabo{
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
    margin-bottom: 30px;
    line-height: 20px;
}
header{
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    background-color: rgba(0, 0, 0,.3);
}
header h1{
    margin-left: 5px;
    align-items: center;
    width: calc(20% - 100px);
    font-family: montez;
    font-size: 55px;
}
header a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all ease 300ms;
}
.login-box{
	background-image:url(/../css/fondo1.jpg);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
@media only screen and (min-width:360px) and (max-width:757px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}
	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../css/fondo1.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}

}
@media only screen and (min-width:280px) and (max-width:757px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}
	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../css/fondo1.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}

}
@media only screen and (min-width:760px) and (max-width:1180px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}
	input {
		width: calc(100% - 20px);
		padding: 20px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../css/fondo1.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}
	.caja{
		margin-top: 30%;
	}
	header h1{
		margin-left: 10px;
		align-items: center;
		width: calc(20% - 100px);
		font-family: montez;
		font-size: 80px;
	}
}

